table, th, tr, td{
    border-style: double;
    border: "2";
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
}


.contenedor1{
    margin-left: 50px;
}

#resultado{
    margin-left: 50px;
    font-weight: bold;
    font-style: italic;
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;

    
}

a{
    margin-left: 41%;
}

.menu{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: darkblue;
    margin-left: 50px;
}